actual_dataset/images
actual_dataset/info

actual_dataset/JSON-image_17.txt
actual_dataset/influencers.txt

dataset/images
dataset/info

gen_dataset/JSON-image_17.csv
gen_dataset/influencers_17.csv

image_embed/image_features
image_embed/compressedPreprocessedImages
combined_features/combined_feature_vectors